/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 0.9em;
    line-height: 1.4;
	background-color: #000;
	background-image: url(../img/ha-bg.png);
	background-position:top;
	background-repeat:no-repeat;
	color: #898D8F;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #4E4F49;
    text-shadow: none;
	color:#c6c6c6;
}

::selection {
    background: #fff;
    text-shadow: none;
	color:#000;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

} 

a:active, a:link, a:hover, a:visited {
	text-decoration:none;
	color:#ccc;;
}

#container {
	width: 790px;
	margin-left:auto;
	margin-right:auto;
	padding-left:170px;
}



/* Header */
header {
	width: 100%;
}
.title_header {
	
}

.title_header nav {

}

nav ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
nav ul li {
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	font-size: 32px;
	color: #898D8F;
	float: left;
	line-height: 16px;
	width: 200px;
	margin:0;
	padding-top: 41px;
	padding-right: 40px;
	text-transform: uppercase;
}
nav ul li:last child {
	padding-right:0;
	
}
.small_nav {
	font-family:Helvetica, sans-serif;
	font-size: 13px;
	color:#898D8F;
	text-transform:lowercase;
}
nav ul li a {
	color: #767779;
	text-decoration:none;
	display:inline-block;
		-webkit-transition:color 0.3s ease-in;  
   -moz-transition:color 0.3s ease-in;  
   -o-transition:color 0.3s ease-in;  
   transition:color 0.3s ease-in;
}
nav ul li a:hover {
	color:#c8ff32;
	-webkit-transition:color 0.3s ease-in;  
   -moz-transition:color 0.3s ease-in;  
   -o-transition:color 0.3s ease-in;  
   transition:color 0.3s ease-in;
}

/* Content */
#main {
}
h1, h2, h3 {
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	text-transform: uppercase;
	color: #767779;
	font-weight: lighter;
}
h1 {
	font-size: 58px;
	line-height: 57px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 60px;
	margin-left: 0px;
}
 a.bright, a.bright:link, a.bright:visited {
	color:#c8ff32;
	text-decoration:none;
}
a.bright:hover {
	background-color:#c8ff32;
	color:#000;
}
.bright {
	color:#c8ff32;
}
h2 {
	font-size:48px;
	color: #c8ff32;
	margin-top:40px;
	margin-bottom:5px;
}
	
h3 {
	font-size: 28px;
	line-height: 16px;
	color: #ccc;
	margin-bottom:20px;
	padding: 0;
}

h3 a:hover {
	color:#333;
}


.about_me {
	margin-top:40px;
}
.about {
	width: 200px;
	float: left;
	padding-right: 20px;
}
.about:first-child {
	width:350px;;
}
.about a  {
	color:#ccc;
	text-decoration:underline;
}
.about a:hover {
	text-decoration:none;
}
.about:nth-child(3) {
	border-right-style: none;
	padding-right:0;
}
.about ul {
	padding-left:20px;
	list-style-type:square;
}
.title {
	float:left;
	width:140px;
}
.no_list {
	list-style:none;
	list-style-type:none;
}
.my_work {
	
}
.mywork {
	margin-top:10px;
}
.work {
	float: left;
	margin-bottom: 40px;
}

ul.thumbs  {
	list-style-type: none;
	margin:0;
	padding:0;
}

ul.thumbs  li {
	float: left;
	display: block;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000;
	border-right-color: #000;
}

ul.thumbs  li a {
	opacity:0.5;
	display: block;
	height:145px;
	width:195px;
	-webkit-transition:opacity 0.3s ease-in;  
   -moz-transition:opacity 0.3s ease-in;  
   -o-transition:opacity 0.3s ease-in;  
   transition:opacity 0.3s ease-in;
}
ul.thumbs  li a:hover {
	opacity:1;
}

/* Contact Me */
.contact_me {
	margin-top:10px;
	margin-bottom:150px;
}
.contact {
	width:224px;
	height:32px;
}
.contact_column {
	float:left;
	width:250px;
	padding:0;
}
.contact_column li {
	display:block;
	margin-bottom:10px;
	
}
.contact_column li a {
	text-decoration:none;
	color: #ccc;
	height:29px;
	display:block;
	padding-left:70px;
	padding-top:19px;
	}
.contact_column li a:hover {
	color:#c8ff32;
}

.email {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.email:hover {
	background-position: 0 -384px;
}
.facebook {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -48px;
}
.facebook:hover {
	background-position: 0 -432px;
}
.twitter {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -96px;
}
.twitter:hover {
	background-position: 0 -480px;
}

.forrst {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -144px;
}
.forrst:hover {
	background-position: 0 -528px;
}

.linkedin {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -192px;
}
.linkedin:hover {
	background-position: 0 -576px;
}

.flickr {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -240px;
}
.flickr:hover {
	background-position: 0 -624px;
}
.area {
	background-image: url(../img/social-sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -336px;
}
.area:hover {
	background-position: 0 -720px;
}







/* flat contact icons */
.contact2 {
	float:left;
	width:500px;
	padding:0;
	margin-top:60px;
	margin-bottom:500px;
}

ul.contact2 li {
	display:block;
	float:left;
	height:46px;
	min-width:46px;
	margin-left:1px;
}


.no-repeat {
	background-repeat:no-repeat;!important
}
.email2 {
	background-image: url(../img/social-sprite2.png);
	background-position:0 0;
}
.email2:hover {
	background-position:0 -46px;
}
.cv {
	background-image: url(../img/social-sprite2.png);
	background-position:-46px 0;
}
.cv:hover {
	background-position:-46px -46px;
}
.twitter2 {
	background-image: url(../img/social-sprite2.png);
	background-position:-138px 0;
}
.twitter2:hover {
	background-position:-138px -46px;
}
.facebook2 {
	background-image: url(../img/social-sprite2.png);
	background-position:-92px 0;
}
.facebook2:hover {
	background-position:-92px -46px;
}
.linkedin2 {
	background-image: url(../img/social-sprite2.png);
	background-position:-184px 0;
}
.linkedin2:hover {
	background-position:-184px -46px;
}
.flickr2 {
	background-image: url(../img/social-sprite2.png);
	background-position:-230px 0;
}
.flickr2:hover {
	background-position:-230px -46px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
