@charset "UTF-8";
/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none; }

/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  Colours  */
.pink-bg {
  background-color: #d1445f;
  color: #fff; }
  .pink-bg h2, .pink-bg h3 {
    color: #fff; }

body {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3em;
  color: #4c4c4c; }

a,
a:link,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 500;
  line-height: 1.3em; }

h1, h2, .text-center {
  text-align: center; }

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  color: #d1445f; }
  h1 .title {
    font-size: 4em;
    color: #fff; }

h2 {
  color: #405376;
  font-size: 2em;
  margin-bottom: 20px; }

h3 {
  font-size: 1.4em;
  margin-bottom: 18px;
  color: #d1445f; }

h4 {
  font-size: 1.2em;
  margin-bottom: 15px; }

p {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  margin-bottom: 1.4em;
  line-height: 1.5em; }

p:last-child {
  margin-bottom: 0; }

p a:link,
p a,
p a:visited {
  text-decoration: underline;
  color: #d1445f; }

p a:hover {
  color: #d1445f; }

strong {
  font-weight: 600; }

.text-centre {
  text-align: center; }

nav {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  color: #fff; }

::-moz-selection {
  background-color: #405376;
  color: #ffffff; }

::selection {
  background-color: #405376;
  color: #ffffff; }

blockquote {
  border-left: solid 4px #cecece;
  padding-left: 2em;
  max-width: 620px;
  margin-top: 1em;
  margin-bottom: 1.4em; }
  blockquote p {
    font-weight: 300;
    font-size: 1.2em;
    color: #959595;
    margin-bottom: 0.8em; }
  blockquote footer {
    color: #d1445f;
    font-size: 0.9em; }

@media (min-width: 1000px) {
  blockquote {
    margin-left: -4em; } }
* {
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
  /*	If you need support for IE7 and lower make 
  	sure the boxsizing.htc file is linked properly.
  	More info here:  https://github.com/Schepp/box-sizing-polyfill */ }

.container:after,
.row:after,
.col:after,
.clr:after,
.group:after,
section:after {
  content: "";
  display: table;
  clear: both; }

.container,
.container-large {
  width: 100%;
  max-width: 690px;
  margin: 0 auto 50px;
  padding: 0 20px; }

.container-large,
header .container-large {
  max-width: 940px; }

.project {
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 1.2em; }
  .project h3 {
    text-align: center; }

.project img {
  max-width: 100%;
  height: auto;
  display: block;
  border: solid 4px #f2f2f2;
  position: relative;
  margin-bottom: 20px; }

.project-thumb {
  width: 48%;
  margin-right: 4%;
  float: left; }

.project-thumb:nth-of-type(2n) {
  margin-right: 0; }

.feature-project.project-show {
  width: 100%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .feature-project.project-show .read-more {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }

@media (min-width: 650px) {
  .feature-project {
    width: 48%;
    margin-right: 4%;
    float: left; }

  .feature-project:nth-of-type(2n) {
    margin-right: 0; }

  .project-thumb {
    width: 22%;
    margin-right: 4%;
    float: left; }

  .project-thumb:nth-of-type(2n) {
    margin-right: 4%; }

  .project-thumb:nth-of-type(4n) {
    margin-right: 0; } }
@media (min-width: 768px) {
  .gutters .col {
    margin-left: 4%; }

  .gutters .col:first-child {
    margin-left: 0; } }
@media (min-width: 1100px) {
  .container-large {
    max-width: 1280px; }

  .feature-project {
    width: 30.6665%;
    margin-right: 4%;
    float: left; }

  .feature-project:nth-of-type(2n) {
    margin-right: 4%; }

  .feature-project:nth-of-type(3n) {
    margin-right: 0%; } }
/* DEFAULT COLUMN STYLES */
.col {
  display: block;
  float: left;
  width: 100%; }

/*	COLUMN WIDTH ON DISPLAYS +768px 
	You might need to play with media queries here to suite your design. */
@media (min-width: 768px) {
  .span_1 {
    width: 8.33333333333%; }

  .span_2 {
    width: 16.6666666667%; }

  .span_3 {
    width: 25%; }

  .span_4 {
    width: 33.3333333333%; }

  .span_5 {
    width: 41.6666666667%; }

  .span_6 {
    width: 50%; }

  .span_7 {
    width: 58.3333333333%; }

  .span_8 {
    width: 66.6666666667%; }

  .span_9 {
    width: 75%; }

  .span_10 {
    width: 83.3333333333%; }

  .span_11 {
    width: 91.6666666667%; }

  .span_12 {
    width: 100%; }

  .gutters .span_1 {
    width: 6.5%; }

  .gutters .span_2 {
    width: 15.0%; }

  .gutters .span_3 {
    width: 22.0%; }

  .gutters .span_4 {
    width: 30.666666%; }

  .gutters .span_5 {
    width: 39.5%; }

  .gutters .span_6 {
    width: 48.0%; }

  .gutters .span_7 {
    width: 56.5%; }

  .gutters .span_8 {
    width: 65.0%; }

  .gutters .span_9 {
    width: 74.0%; }

  .gutters .span_10 {
    width: 83.0%; }

  .gutters .span_11 {
    width: 91.5%; }

  .gutters .span_12 {
    width: 100%; } }
/*  Colours  */
.pink-bg {
  background-color: #d1445f;
  color: #fff; }
  .pink-bg h2, .pink-bg h3 {
    color: #fff; }

body {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3em;
  color: #4c4c4c; }

a,
a:link,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 500;
  line-height: 1.3em; }

h1, h2, .text-center {
  text-align: center; }

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  color: #d1445f; }
  h1 .title {
    font-size: 4em;
    color: #fff; }

h2 {
  color: #405376;
  font-size: 2em;
  margin-bottom: 20px; }

h3 {
  font-size: 1.4em;
  margin-bottom: 18px;
  color: #d1445f; }

h4 {
  font-size: 1.2em;
  margin-bottom: 15px; }

p {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  margin-bottom: 1.4em;
  line-height: 1.5em; }

p:last-child {
  margin-bottom: 0; }

p a:link,
p a,
p a:visited {
  text-decoration: underline;
  color: #d1445f; }

p a:hover {
  color: #d1445f; }

strong {
  font-weight: 600; }

.text-centre {
  text-align: center; }

nav {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  color: #fff; }

::-moz-selection {
  background-color: #405376;
  color: #ffffff; }

::selection {
  background-color: #405376;
  color: #ffffff; }

blockquote {
  border-left: solid 4px #cecece;
  padding-left: 2em;
  max-width: 620px;
  margin-top: 1em;
  margin-bottom: 1.4em; }
  blockquote p {
    font-weight: 300;
    font-size: 1.2em;
    color: #959595;
    margin-bottom: 0.8em; }
  blockquote footer {
    color: #d1445f;
    font-size: 0.9em; }

@media (min-width: 1000px) {
  blockquote {
    margin-left: -4em; } }
/***************   HEADER   ***************/
#mfPreviewBarShow {
  display: none; }

body {
  font-size: 18px;
  line-height: 1.4em; }

header {
  position: relative; }

header .container-large {
  margin-top: 0; }

.home-header {
  /* grad-5 copy 2: */
  background-image: url(/images/home-page-image-2-colour.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.main-header.header-hero-2 {
  background-image: url(/images/hero-image-2.jpg); }

.main-header.header-hero-3 {
  background-image: url(/images/hero-image-8.jpg); }

.main-header.header-hero-4 {
  background-image: url(/images/hero-image-4.jpg); }

.main-header.header-hero-5 {
  background-image: url(/images/hero-image-5.jpg); }

.main-header.header-hero-6 {
  background-image: url(/images/hero-image-6.jpg); }

.home-header-background-img {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: auto; }

.nav-left {
  position: absolute;
  top: 20px;
  left: 20px; }

.nav-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99; }

.main-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: right;
  z-index: 200; }
  .main-nav li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 2em auto;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 1.8em;
    color: #405376;
    cursor: pointer; }
    .main-nav li.close-menu {
      font-size: 1.2em;
      opacity: 0.9;
      margin: 1em auto; }
  .main-nav.show-menu {
    display: block; }

.menu-click-area {
  position: fixed;
  top: 15px;
  right: 15px;
  display: block;
  cursor: pointer;
  z-index: 101; }

.home-main-intro {
  text-align: center;
  padding: 6em 1em 4em; }

.title {
  color: #fff; }

.home-logo {
  display: block;
  margin: 0 auto 2em; }

.small-logo {
  max-width: 100px; }

.header-intro {
  font-size: 1.5em;
  text-align: center;
  color: rgba(255, 255, 255, 0.92); }

.nav-dark {
  color: #405376; }

/*  Colours  */
.pink-bg {
  background-color: #d1445f;
  color: #fff; }
  .pink-bg h2, .pink-bg h3 {
    color: #fff; }

body {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3em;
  color: #4c4c4c; }

a,
a:link,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 500;
  line-height: 1.3em; }

h1, h2, .text-center {
  text-align: center; }

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  color: #d1445f; }
  h1 .title {
    font-size: 4em;
    color: #fff; }

h2 {
  color: #405376;
  font-size: 2em;
  margin-bottom: 20px; }

h3 {
  font-size: 1.4em;
  margin-bottom: 18px;
  color: #d1445f; }

h4 {
  font-size: 1.2em;
  margin-bottom: 15px; }

p {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  margin-bottom: 1.4em;
  line-height: 1.5em; }

p:last-child {
  margin-bottom: 0; }

p a:link,
p a,
p a:visited {
  text-decoration: underline;
  color: #d1445f; }

p a:hover {
  color: #d1445f; }

strong {
  font-weight: 600; }

.text-centre {
  text-align: center; }

nav {
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  color: #fff; }

::-moz-selection {
  background-color: #405376;
  color: #ffffff; }

::selection {
  background-color: #405376;
  color: #ffffff; }

blockquote {
  border-left: solid 4px #cecece;
  padding-left: 2em;
  max-width: 620px;
  margin-top: 1em;
  margin-bottom: 1.4em; }
  blockquote p {
    font-weight: 300;
    font-size: 1.2em;
    color: #959595;
    margin-bottom: 0.8em; }
  blockquote footer {
    color: #d1445f;
    font-size: 0.9em; }

@media (min-width: 1000px) {
  blockquote {
    margin-left: -4em; } }
.post-list h1, .post-list h2, .post-list h3, .post-list p {
  text-align: left; }
.post-list h2 {
  font-size: 1.7em; }
.post-list p {
  font-size: 0.95em; }
.post-list .post-highlight {
  padding-bottom: 1.5em;
  border-bottom: solid 1px #eaeaea;
  margin-bottom: 2em;
  overflow: hidden;
  max-height: 500px;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease-in, height 0.3s 0.35s, margin 0.3s 0.35s, padding 0.3s 0.35s;
  transition: opacity 0.35s ease-in, height 0.3s 0.35s, margin 0.3s 0.35s, padding 0.3s 0.35s; }
  .post-list .post-highlight.hidden {
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0; }
.post-list .read-more-link {
  position: relative;
  margin-left: 0.9em;
  text-align: left;
  display: inline;
  top: 0; }
  .post-list .read-more-link:before {
    content: "+ ";
    bottom: -0.2em;
    left: -0.9em;
    position: absolute;
    text-decoration: none; }

.blog-back-link {
  padding-top: 1em;
  font-size: 0.9em;
  border-top: solid 1px #ccc; }
  .blog-back-link a, .blog-back-link a:hover, .blog-back-link a:link, .blog-back-link a:visited {
    color: #cecece;
    text-decoration: none; }

.tag-box {
  list-style: disc;
  margin: 0.5em 0 1em 1.2em; }
  .tag-box li {
    margin-bottom: 0.5em; }

time {
  display: block;
  text-align: center;
  font-size: 0.9em;
  color: #d1445f;
  margin-bottom: 1em; }

.blog-categories {
  border-right: solid 1px #ccc; }

/***************   ABOUT ME   ***************/
.profile-pic {
  float: left;
  max-width: 12em;
  height: auto;
  margin: 0 1em 0.8em -3em; }

/***************   Services   ***************/
.service {
  margin-bottom: 1.5em; }
  .service h3 {
    text-align: center; }
  .service p {
    font-size: 0.95em; }

/***************   FORM   ***************/
form {
  width: 100%;
  max-width: 550px;
  margin: 10px auto;
  text-align: center;
  font-family: "TheSansMono", "Roboto Mono", monospace; }

input,
textarea {
  padding: 10px;
  font-size: 1.1em;
  width: 100%;
  margin: 5px auto;
  border: solid 1px #ccc;
  font-family: "TheSansMono", "Roboto Mono", monospace;
  font-weight: 300;
  color: #405376;
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none; }

textarea {
  min-height: 6em; }

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: 0 0 5px #f9e8eb;
  border: 1px solid #e82d51; }

input[type="submit"] {
  padding: 0.5em;
  font-weight: 500;
  background-color: #405376;
  border: none;
  color: #fff;
  display: inline-block;
  max-width: 240px;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #1c2434; }

input[type="submit"]:focus {
  box-shadow: 0 0 5px #f9e8eb;
  border: 1px solid #e82d51; }

.pink-form {
  padding-top: 40px; }
  .pink-form p a {
    color: #fff; }
  .pink-form input[type="submit"] {
    background-color: #8c2337; }
  .pink-form input[type="submit"]:hover {
    background-color: #db6d82; }

/***************   READ MORE   ***************/
.read-more {
  position: relative; }

.read-more-hide {
  overflow: hidden;
  margin-bottom: 40px; }

.read-more-link,
.read-less-link {
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #d1445f;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
  display: block; }

.read-less-link {
  color: #d1445f;
  top: 10px;
  width: 20px;
  height: 20px;
  border: solid 1px #d1445f;
  border-radius: 50%;
  margin-bottom: 40px; }

.read-more-hide:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=0 );
  /* IE6-9 */
  pointer-events: none; }

@media (max-width: 700px) {
  header {
    overflow: hidden;
    margin-bottom: 30px; }

  .home-logo {
    max-width: 130px; }

  h1.title {
    font-size: 28px; }

  .header-intro {
    font-size: 18px; }

  p {
    font-size: 16px; } }
/************ WORK *************/
.slick-slider {
  background-color: #EBEBEB;
  padding: 20px 0;
  margin-bottom: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden; }

.slick-slider li {
  margin: 0 20px;
  max-height: 400px;
  width: auto;
  display: block; }

.slick-slider.more-work-slider li {
  max-height: 240px; }

.slick-slider li img {
  max-height: 100%;
  width: auto; }

.slick-arrow,
.slick-arrow:hover {
  position: absolute;
  display: block;
  border: none;
  background-color: transparent;
  background-image: url(/images/arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  top: 50%;
  margin-top: -25px;
  z-index: 99;
  text-indent: -99999px;
  cursor: pointer; }
  .slick-arrow.slick-prev,
  .slick-arrow:hover.slick-prev {
    left: 0; }
  .slick-arrow.slick-next,
  .slick-arrow:hover.slick-next {
    right: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
