---
layout: default
permalink: /articles/index.html
header_intro: Articles about start up technology, design and services that I provide
---

<div class="home">


<section id="about-me" class="container ">
        <article class="">
            <ul class="post-list">
            {% for post in site.posts %}
             {% if post.categories contains 'blog' %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                
                {{ post.excerpt }}
                  <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">+ Read More</a></p>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </article>
    </section>

</div>
