<nav>
    <section class="email-contact nav-left">
        <a href="mailto:paddy@hazardawareness.com.au">paddy@hazardawareness.com.au</a><br><a href="tel:0434727334">0434&nbsp;727&nbsp;334</a>
    </section>
    <section class="nav-right">
        <span id="show-menu" class="menu-click-area">[menu]</span>
        <ul id="navigation" class="nav main-nav hide-menu">
            <li class="hide-menu close-menu">× close menu</li>
            <li><a href="/">Home</a></li>
            <li><a class="hide-menu" href="/index.html#about-me">About</a></li>
            <li><a class="hide-menu" href="/work/">Work</a></li>
            <li><a class="hide-menu" href="/services.html">Services</a></li>
<!--            <li><a class="hide-menu" href="/articles/">Articles</a></li>-->
            <li><a class="hide-menu" href="#contact-me">Contact</a></li>
        </ul>
    </section>
</nav>